RewriteEngine On

# Redirect all requests to public folder
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/$1 [L]

# If accessing the root, redirect to public/index.php
RewriteRule ^$ public/index.php [L]