body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

header {
    background: #f0f9fe;
    color: #35424a;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
}

footer {
    background: #f0f9fe;
    color: #35424a;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
.my-drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 109;
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: none;
}
.my-drawer-overlay.active {
    display: flex;
    z-index: 10;
    transition: width 0.5s ease;
}
#sidebar {
    background: #35424a;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#sidebar a , li {
    font-size: 1.2em;
    margin: 0;
    text-decoration: none;
    color: #f0f9fe;
    display: block;
    list-style: none;
    padding: 10px;
    transition: background 0.5s;
}
#sidebar li.active a {
    background: #636b6f;
}
#sidebar a {
    color: #f0f9fe;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-self: center;
    align-items: center;
    
}
#sidebar a i {
    color: #f0f9fe;
    width: 50px;
    font-size: 1.5em;
}
#sidebar a i:hover {
    color: #35424a;
    transition: color 0.5s ease;
}
#sidebar a:hover {
    background: #f0f9fe;
    color: #35424a;
    padding: 10px;
}
#sidebar ul {
    padding: 0;
    margin: 0;
}
#sidebar nav {
    margin: 50px 0;
}
main {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #f4f4f4;
}
#sidebar h2 {
    color: #f4f4f4;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
}
.menu-icon {
    padding: 10px;
    font-size: 1.8em;
    color: #35424a;
    cursor: pointer;
}
.menu-icon:hover {
    height: 50px;
    transition: height 0.5s ease;
}
.title h1 {
    color: #35424a;
    font-size: 1.5em;
    text-align: start;
    margin: 0 10px;
    font-weight: bold;
}
.title  {
    color: #99a1b7;
    font-size: 1em;
    text-align: start;
    margin: 0 10px;
}
.title .routes {
    display: flex;
    margin: 0 10px;
}
.title .routes a {
    color: #35424a;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}
.title .routes a:hover {
    color: #636b6f;
}
.title .route {
    display: flex;
    color: #35424a;
    font-size: 1em;
    text-align: start;
    font-weight: bold;
    padding: 0 10px;
}
.new-clients{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 200px;
    background-color: #F1416C;
    padding: 30px;
    border-radius: 10px;
    width: 88%;
    margin: auto;
    color: #f0f9fe;
}
.new-clients h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #f0f9fe;
}
.new-clients p {
    font-size: 1em;
    margin-bottom: 10px;
    color: #f0f9fe;
}
.new-clients .count{
        margin: 0 auto;
    width: 95%;
}
.new-clients-progress  {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 auto;
    width: 95%;
}
.create-client-container {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #F9F9F9;
    padding: 30px;
    border-radius: 10px;
    width: 88%;
}
.create-client-container i {
    margin-bottom: 10px;
    color: #35424a;
}


.create-client-container:hover {
    background-color: #c8c8c8;
    transition: background-color 0.5s ease;
}
.table-responsive{
    width: 100%;
    overflow-x: auto;
    margin: 20px 0;
}
 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
 }
#recent-clients-table td {
    color: #94969c;
    font-size: 1.2em;
}
#recent-clients-table th {
    font-size: 0.8em;
    color: #BFC4D1;
}